:root {
    // Colours (Name new colours using https://colornamer.robertcooper.me)
    --aria: #e3e3e3;
    --boat-anchor: #6b6b6b;
    --carbon: #333;
    --fortress-grey: #b8b8b8;
    --oil-rush: #323243;
    --pinball: #d3d3d3;
    --royal-navy-blue: #0069cc;
    --tardis-blue: #003d75;
    --white: #fff;

    // Config
    --font-family: 'Roboto', sans-serif;
    --body-color: var(--carbon);
    --preview-card-width: 520px;
}